@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /*100% da tela*/
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-family: "Gluten", cursive;
    font-weight: 200;
    font-size: 25px;
    background-image: url(/img/background.jpg);
    cursor: url(/img/cursor1.png), auto; /* cursor padrão */
}

a, button {
    cursor: url(/img/cursor2.png), auto; /* cursor para links e botões */
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 100px;
    min-height: calc(100vh - 60px);
}

h1 {
    font-size: 1.8rem;
    font-weight: 300;
}

.coluna-inicial {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

strong {
    color: #ff8692; /* cor do texto destacado */
}

.barra-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.barra-nav-link {
    background-color: #e0bfcb;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 15px 0;
    text-decoration: none;
    color: #000000;
    font-weight: 300;
}

.notes {
    background-color: #fff0f5;
    border-radius: 12px;
    border: 2px solid rgb(242, 204, 229);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

#text-area {
    width: 600px;
    height: 35vh;
    padding: 10px 15px 15px 60px;
    font-family: "Gluten", cursive;
    font-size: 19px;
    font-weight: 200;
    line-height: 29px; /* padding-top(10px) + font-size(19px) */
    border: none;
    border-radius: 12px;
    background: url(/img/background-textarea.jpg);
    background-size: cover;
    box-shadow: 4px 4px 8px rgba (0,0,0,0.1);
    resize: none;
}

#text-area:focus {
    outline: 2px solid #ffb6c1;
}

#add-note {
    background-color: #e0bfcb;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 20px;
    transition: transform 0.2s;
}

#add-note:hover {
    transform: scale(1.05);
    background-color: #ffccd5;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }
  .notes {
    width: 95%;
  }
  footer {
    text-align: center;
  }
}

/* rodapé */
footer {
    font-size: 18px;
}