@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /*100% da tela*/
    box-sizing: border-box;
    width: 100%;
    border: solid #d6a9c4 10px;
    padding: 20px;
    font-family: "Gluten", cursive;
    font-weight: 200;
    font-size: 25px;
    background-image: url(/img/background.jpg);
    cursor: url(/img/cursor1.png), auto; /* cursor padrão */
}

a, button {
    cursor: url(/img/cursor2.png), auto; /* cursor para links e botões */
}

.container {
    display: flex;
    align-items: center;
}

strong {
    color: #ff8692; /* cor do texto destacado */
}

/* Estilo da barra de navegação */

ul, a {
    color: black;
    text-decoration-line: none;
    list-style-type: none;
}

li {
    background-color:rgb(224, 191, 203);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

/* rodapé */
footer {
    font-size: 18px;
}