@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

:root {
    --texto-padrao: #423f3f;
    --cor-primaria: #ffccd5;
    --cor-secundaria: #694d66;
    --cor-bordas: #c2b9ba;
    --sombra: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /*100% da tela*/
    box-sizing: border-box;
    width: 100%;
    font-family: "Gluten", cursive;
    font-weight: 200;
    font-size: 25px;
    color: var(--texto-padrao);
    cursor: url(/img/cursor1.png), auto; /* cursor padrão */
}

a, button {
    cursor: url(/img/cursor2.png), auto; /* cursor para links e botões */
}

.container {
    width: 90%;
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 100px;
    min-height: calc(100vh - 60px);
}

h1 {
    font-size: 1.8rem;
    font-weight: 300;
}

.coluna-inicial {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.barra-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.barra-nav-link {
    color: var(--texto-padrao);
    box-shadow: var(--sombra);
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 15px 0;
    text-decoration: none;
    font-weight: 300;
    transition: transform 0.2s;
}

.barra-nav-link:hover {
    transform: scale(1.05);
    background-color: var(--cor-primaria);

}

.notes {
    border-radius: 32px;
    border: 2px solid var(--cor-bordas);
    box-shadow: var(--sombra);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
}

#text-area {
    width: 600px;
    height: 30vh;
    padding: 10px 15px 15px 60px;
    font-family: "Gluten", cursive;
    font-size: 19px;
    font-weight: 200;
    line-height: 29px; /* padding-top(10px) + font-size(19px) */
    border: none;
    border-radius: 20px;
    background: url(/img/background-textarea.jpg);
    background-size: cover;
    box-shadow: var(--sombra);
    resize: none;
}

#text-area:focus {
    outline: 2px solid var(--cor-bordas);
}

#add-note {
    background-color: #ffffff;
    border: none;
    box-shadow: var(--sombra);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    transition: transform 0.2s;
}

#add-note:hover {
    transform: scale(1.05);
    background-color: var(--cor-primaria);
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }
  .notes {
    width: 95%;
  }
}

.rodape {
    font-size: 18px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    width: 150px;
    text-align: center;
    padding: 15px;
    transition: transform 0.2s, border 0.2s;
}

.rodape:hover {
    border-top: 5px solid #543a52;
    border-right: 5px solid #543a52;
}